@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--black-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--page-width);

  @media (--mq-md) {
    max-width: var(--page-width-md);
  }

  @media (--mq-sm) {
    max-width: var(--page-width-sm);
  }
}
