.button {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 13px 40px;
  border: 0;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;

  @media (--mq-sm) {
    padding: 9px 40px;
    font-size: 14px;
    line-height: 21px;
    border-radius: 2px;
  }

  &_success {
    background: var(--green-color);
    color: var(--white-color);

    @media (--mq-sm) {
      background: #92d048;
    }
  }
}
